<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" >
    <test name="Login">
        <groups>
            <run>
                <exclude name="functest"/>
            </run>
        </groups>
        <classes>
            <class name="com.a2c_app.my_app.Login"/>
        </classes>
    </test>
    <test name="TestCheckout">
        <classes>
            <class name="com.gsmserver.checkout.TestCheckout">
                <methods>
                    <include name="checkUrlAndPageTitle"/>
                    <include name="testProductExistAndAddHimToCart"/>
                    <include name="testDecreaseCartItemCountToZero"/>
                    <include name="addProductToCart"/>
                    <include name="addProductsByCodes"/>
                    <include name="checkItemsCountAndGoToCart"/>
                    <include name="checkProductDiscounts"/>
                    <include name="checkoutCartItems"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
